<h2>Hello World</h2>
<p>
  The time is now: <%= Time.now %>
  <br/>
  Your location country <%= request.location.country %>
  <br/>
  Your location city <%= request.location.city %>
  <br/>
  Your ip <%= request.ip %>
</p>