<h1 style="padding-bottom: 40px; padding-top: 25px"><%= t :weather_forecast %></h1>
<div class="col-lg-12 col-md-12 col-sm-12">
  <h1 align="center"><i class="fa fa-exclamation-triangle fa-5x" aria-hidden="true"></i></h1>
  <h2 align="center"><%= t :error %><i class="fa fa-frown-o fa-lg" aria-hidden="true"></i></h2>
</div>