@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.control {
  border-right: 2px solid rgba(0, 0, 0, 0.05);
}

.social {
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
  color: #212529;
}

.source {
  margin-bottom: 3px;
  margin-top: 3px;
}

a, a:hover {
  background: buttonface;
  color: buttontext;
}