@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.control {
  border-right: 2px solid rgba(0,0,0,0.05);
}
.social{
  background: rgba(0,0,0,0);
}
custom-h{
  font-size: xx-large;
}